	<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.w3.org/1000/xhtml">
<head>
<title>G&G</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
	<div>
		<div th:replace="common/header :: navbar" />
		
		  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
      </div>
    </div> 
    <div class="site-section border-bottom" >
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="image/w1.png" alt="Image placeholder" class="img-fluid ">
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>These are the stuff one yearn for the most, its the gear one avail oneself of everyda. So why not put the best of it in once place, make it easier to get if not just glimpse all the time. This was the idea behind the project , it may have started just as a small project but turned into something really big.
  </p>
            
          </div>
        </div>
      </div>
    </div>
  
		
		<div th:replace="common/header :: body-bottom-scripts" />
	</div>
</body>
</html>